<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

 
    <h1>
        Random number: <%= random %>
        <% if(random % 2 === 0 ) { %>
            <h3>Angka genap</h3>
            <% } else {%>
                <h3>Angka ganjil</h3>
                <%}%>

    </h1>


    <h3>That number is: <%= random%2 === 0 ? 'even' : 'odd' %></h3>
<%- include('partials/footer.ejs') %>

 